<div id="content-frame" style="display:block">
    <div class="topbar">
        <a><i class="fa-solid fa-arrow-left"></i></a>
        <div id="pagetitle"><%= pagetitle %></div>
    </div>

    <%- include('pages/mods') %>

</div>