<div id="gameview-page" style="display:none">
    <div class="topbar">
        <a><i class="fa-solid fa-arrow-left"></i></a>
        <div id="pagetitle"><%= game %></div>
    </div>
    <div class="game-top">
        <img src="<%= gameImage %>" alt="Game Image">
        <div class="image-center"><%= game %>></div>
    </div>
</div>
<script>
</script>