<div id="mods-page" style="display:none">
    <div class="game-container">
        <a class="game" onclick="ClickSubnautica()">
            <img src="../assets/subnautica-cover.jpg" alt="Subnautica">
        </a>
    </div>
</div>

<script>
    function ClickSubnautica() {
    }
</script>